body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.app {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}



.nota {
    position: relative;
    width: 200px;
    height: 200px;


}

.nota button {
    margin-top: 5px;
}